*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.contact-page {
    display: flex;
    width: 100%;
    height: auto;
    padding: 20px;
}
.email-form{
    width: 70%;
    height: 695px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 0 0 30px;
}
h1 {
    font-size: 35px;
    font-weight: 550;
    margin-bottom: 20px;
}
#send-btn{
    width: 132px;
    height: 40px;
    background-color: #12ED80;
    color: black;
    font-size: 14px;
    font-weight: 650;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
}
input::placeholder, textarea::placeholder {
    color: #4D9973;
    font-size: 16px;
}
input, textarea {
    padding: 20px;
    font-size: 16px;
    border: 1px solid #CFE8DB;
    border-radius: 10px;
    resize: vertical;
    gap: 20px;
    color: #4D9973;
}
.successful-msg {
    width: 100%;
    height: 100vh;
    background-color: white;
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: -5%;
    flex-direction: column;
}
.checkmark-circle{
    width: 100px;
    height: 100px;
    background: url(./images/check.png);
    object-fit: cover;
    background-size: cover;
}
#result {
    font-size: 28px;
    font-weight: 100;
    text-align: center;
    color: #12ED80;
}
#msg{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: gray;
    margin-top: 10px;
}
.details{
    width: 470px;
    height: 695px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
.email{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding: 10px;
    font-size: 16px;
}
img{
    width: 34px;
    object-fit: cover;
}
.mail{
    text-decoration: none;
    color: #4D9973;
    font-size: 18px;
}
.github{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding: 10px;
    font-size: 16px;
}
.github-link{
    text-decoration: none;
    color: #4D9973;
    font-size: 18px;
}
@media screen and (max-width: 768px){
    .contact-page {
        flex-direction: column;
        align-items: center;
    }
    .email-form{
        width: 90%;
        height: auto;
        padding: 0;
    }
    h1 {
        font-size: 28px;
        text-align: center;
    }
    form {
        width: 100%;
    }
    #send-btn{
        position: relative;
        transform: translate(80%, 0);
    }
    .details{
        width: 90%;
        height: auto;
        margin-top: 30px;
    }
    .successful-msg {
        height: auto;
        padding: 50px 0;
        margin-top: 40%;
    }
}