*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.background-interface{
    width: 960px;
    height: auto;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding: 20px;
}
.image-content{
    width: 100%;
   height: 570px;
   border-radius: 12px;
   background-image: url(./images/Background-img.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 20px;
    color: white;
    text-align: end;
}
.image-content h1{
    font-size: 36px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.image-content p{
    font-size: 17px;
    line-height: 1;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
h2{
    margin-top: 30px;
    width: 100%;
    height: auto;
    color: #0D1C14;
    font-weight: 550;
}
.projects-list{
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: flex;
    gap: 20px;
}
.project{
    width: 301px;
    height: 169px;
    border-radius: 12px;
    background-size: cover;
    background-position: center;
}
#project1{
    background: url(./images/Project.png);
    background-size: cover;
    background-position: center;

}
#project2{
    background: url(./images/Project-1.png);
        background-size: cover;
    background-position: center;
}
#project3{
    background: url(./images/Project-2.png);
        background-size: cover;
    background-position: center;
}
.Project-1{
    width: 301px;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 2px;
    font-size: 14px;
    justify-content: center;
}
h4{
    color: #0D1C14;
    font: 550;
}
h5{
    color: #4D9973;
    font-weight: 400;
    font: lighter;
    font-size: 14px;
}
@media screen and (max-width: 768px){
    .background-interface{
        width: 90%;
        height: auto;
        margin: auto;
        margin-top: 20px;
    }
    .image-content{
        height: 300px;

    }
    .image-content img{
        width: 100%;
        height: 100%;
        border-radius: 12px;
        object-fit: cover;
    }
    .image-content h1{
            font-size: 26px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: end;
    }
    .image-content p{
        font-size: 17px;
    line-height: 1;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    }
    .projects-list{
        flex-direction: column;
        align-items: center;
    }
}