* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    height: 65px;
    background-color: white;
    box-shadow: 1px 0 4px 0 lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    color: #0D1C14;
    position: sticky;
}
#menu-btn{
    padding: 10px 20px;
    background-color: #12ED80;
    color: #0D1C14;
    font-weight: bold;
    border-radius: 16px;
    transition: 0.3s;
    display: none;
    position: absolute;
    right: 0;
    margin: 0px 10px 0 0;
    border: none;
}
.closed_menu{
    padding: 0;
    height: 0;
    overflow: hidden;
    transition: 1s;
}
.logo {
    font-size: 34px;
    font-weight: bold;
}

.links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
}

.links a {
    text-decoration: none;
    color: #0D1C14;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 12px;
    transition: 0.2s;
}

.links a:hover {
    background-color: #E6EEFF;
    color: #073fda;
}

#resume-btn {
    padding: 10px 20px;
    background-color: #12ED80;
    color: #0D1C14;
    font-weight: bold;
    border-radius: 16px;
    transition: 0.3s;
}

#resume-btn:hover {
    box-shadow: 2px 0 8px 0 #089b51;
    transform: scale(1.05);
}

.active {
    background-color: #E6EEFF;
    color: #073fda !important;
    font-weight: bold;
    outline: 1px solid #073fda;
}

@media screen and (max-width: 768px) {
    .navbar {
    flex-direction: column;
        align-items: center;
        height: auto;
        padding: 10px 20px;
        overflow: hidden;
        transition: 0.5s;
    }
    .links {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 5px;
        margin-top: 30px;
    }

    .links a,
    #resume-btn {
        width: 100%;
        text-align: center;
    }
    .logo{
        font-size: 34px;
        font-weight: bold;
    }
    #menu-btn{
        display: block;
    }
}
