*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    width: 100%;
    height: 65px;
    background-color: white;
    box-shadow: 1px 0 4px 0 lightgray;
    display: flex;
    align-items: center;
    color: #0D1C14;
}
.logo{
    font-size: 20px;
    font-weight: bold;
    width: 50%;
    height: 25px;
    padding: 0 0 0 120px;
}
.links{
width: 50%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 120px;
}
.links a{
text-decoration: none;
    color: #0D1C14;
    font-size: 16px;
    text-align: center;
    padding: 13px;
    border-radius: 12px;
    transition: 0.1s;
}
#resume-btn{
    padding: 14px 22px;
    background-color: #12ED80;
    color: #0D1C14;
    font-style: normal;
    font-weight: bold;
    border-radius: 16px;
    transition: 1s;
}
#resume-btn:hover{
    box-shadow: 2px 0 8px 0 #089b51;
    margin: 6px;
}

.active {
    background-color: #E6EEFF;
    color: #073fda;
    font-weight: bold;
    outline: 1px solid #073fda;
}